<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
	  <!-- ReportDirectory: Es el direcotorio donde se encuentran los informes. -->
      <add key="ReportDirectory" value="D:\Temp\Informes\SON" />
	  <!-- AutonetConnectionString : Cadena de conexión para conectar con la base de datos de Autonet -->
      <add key="AutonetConnectionString" value="Data Source='HAL9000';Initial Catalog=Autonet_SON;User ID=icaragent;Password=********;Persist Security Info=True;" />
	  <!-- ReportConnectionString : Cadena de conexión para conectar con la base de datos de ICarInformes -->
      <add key="ReportConnectionString" value="Data Source='HAL9000';Initial Catalog=ICarInforme_SON;User ID=icaragent;Password=********;Persist Security Info=True;" />

	  <!--
	    OverrideParameterDB: If set to "true", get the DB initial catalog for the parameters, from the AutonetConnectionString (set here)
	    If set to "false" use the value in tha DB Consulta field
	  -->
	  <add key="OverrideParameterDB" value="true" />

	  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>